.carousel {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.page-container {
	height: 100%;
}

.page {
	height: 100%;
}

.sidebar {
	background-color: rgba(0,0,0,0);
	background-image: none !important;
	font-size: 50px;
	height: 90%;
	opacity: 1;
	position: absolute;
	top: 5%;
	width: 7%;

	& .right-sidebar {
		float: right;
		height: 100%;
		right: 0px;
		text-align: center;

		transform-origin: center center;
		transform: rotate(180deg);
		writing-mode: vertical-lr;
	    -webkit-writing-mode: vertical-lr;
        -moz-writing-mode: vertical-lr;
        -ms-writing-mode: vertical-lr;				
	}

	& .left-sidebar {
		float: left;
		height: 100%;
		left: 0px;
		text-align: center;

		-moz-writing-mode: vertical-lr;
		-ms-writing-mode: vertical-lr;				
		-webkit-writing-mode: vertical-lr;
		writing-mode: vertical-lr;
	}
}

.sidebar-left-coloring {
  	color: @voices_header_color;
  	text-shadow: 3px 3px 7px @voices_shadow_color;
}

.sidebar-right-coloring {
  	color: @own_tweets_header_color;
  	text-shadow: 3px 3px 7px @own_tweets_shadow_color;
}

.background {
	height: 100% !important;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -1;
}
