.tweet-list-footer {
	align-items: center;
	bottom: 0px;
	display: flex;
	height: 20%;
	margin-left: 10%;
	position: absolute;
	width: 80%;
}

.tweet-list-footer-options {
	align-items: center;
	display: flex;
	height: 100%;
	margin-right: 10px;
	width: 100%;

	& > .footer-container {
		color: @footer_label_color;
		float: left;
		height: 100%;
		text-align: center;
		text-shadow: 3px 3px 7px @footer_label_shadow_color;
		width: 30%;

		& .sub-container {
			align-items: center;
			display: flex;
			height: 60%;
			justify-content: space-around;
			width: 100%;
		}

		& .time-span-container {

			& .time-span {
				font-size: 40px;
				width: 33%;
				& .footenote-number {
					& > translatestring {
						font-size: 0.5em;
					}
				}
			}
		}

		&.large {
			padding-left: 4%;
			width: 36%; // 100 - 30 - 30 - 4
		}

		& > .header {
			font-size: @footer-header-size;
			width: 100%;
		}

	}
}

