// Impressum button on main page
.impressum-button-container {
	bottom: 10px;
	color: @footer_label_color;
	margin-left: 10%;
	position: absolute;
	text-align: right;
	text-shadow: 3px 3px 7px @footer_label_shadow_color;
	width: 80%;
	z-index: 1;
}

.impressum-button-text {
	width: 100%;
}

.impressum-back-button {
	color: white;
	font-size: 35px;
	height: 80px;
	line-height: 80px;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	text-shadow: 3px 3px 7px purple;
	top: 0px;
	width: 100%;
}

.impressum-page {
	height: 87%;
	left:0px;
	padding: 0 4% 0% 4%;
	top: 0px;
	width: 100%;

	.top-container {

		height: 75%;
		width: 100%;

		.concept {

			.top-container-content;
			margin-right: 2%;
			width: 61%;

			.header {
				font-size: 30px;
				text-align: center;
			}

			.text {
				font-size: 19px;

			}

		}

		.us-container {

			.top-container-content;
			margin-left: 2%;
			width: 35%;

			.header {
				font-size: 30px;
			}

			.one-of-us {

				align-items: center;
				display: flex;
				height: 150px;
				width: 100%;

				.img-wrapper {
					height:  100px;
					width: 100px;

					> img {
						width: 100px;
						height: 100px;
					}
				}

				.text {
					.name {
						font-size: 24px;
						margin-left: 20px;
						margin-bottom: 5px;
					}
					.purpose {
						margin-top: 5px;
						font-size: 14px;
						margin-left: 20px;
					}
				}
			}
		}
	}

	.bottom-container {

		height: 100%;
		padding-top: 2%;

		.supporters-container {

			.impressum-container-box;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			height: 26%;
			padding: 2% 2% 0% 2%;

			.acknowledgements {

				float: left;
				margin-left: 20px;
				margin-top: -7px;
				width: 350px;

				.header {
					font-size: 25px;
				}
				.entry {
					padding-left: 20px;
					font-size: 18px;
					&:before {
						content: "•"
					}
				}
			}

			.supporter {
				align-items: center;
				display: flex;
				float: left;
				width: 180px;

				.img-wrapper {
					height: 50px;
					width: 120px;
					margin-bottom: 10px;

					> img {
						max-height: 50px;
						max-width: 120px;
						vertical-align: middle;
					}
				}
				.name {
					font-size: 16px;
					margin: 5px 0px 5px 0px;
					text-align: center;
				}

				&-odd {
					flex-direction: column;
				}

				&-even {
					align-self: flex-end;
					flex-direction: column-reverse;
				}
			}
		}
	}
}

.top-container-content {
	.impressum-container-box;
	border-radius: 20px;
	float: left;
	height: 100%;
	padding: 0.5% 2% 1% 2%;
}

.impressum-container-box {
	background-color: rgba(20, 20, 20, 0.6);
	border: 1px solid black;
	box-shadow: 1px 1px 7px black;
	color: white;
}
