.impressum-container {
	color: @footer_label_color;
	height: 100%;
	left:0px;
	padding: 2% 5% 1% 5%;
	position: absolute;
	text-shadow: 3px 3px 7px @footer_label_shadow_color;
	top: 0px;
	width: 100%;
}

#impressum-back-button {
	bottom: 0px;
	font-size: 25px;
	left: 0px;
	padding-bottom: 50px;
	padding-left:50px;
	position: absolute;
}

// Main Page
.impressum-button-container {
	bottom: 10px;
	color: @footer_label_color;
	margin-left: 10%;
	position: absolute;
	text-align: right;
	text-shadow: 3px 3px 7px @footer_label_shadow_color;
	width: 80%;
	z-index: 1;
}

.impressum-button-text {
	width: 100%;
}
