@import "carousel.less";
@import "citizenuser.less";
@import "footer.less";
@import "impressum.less";
@import "layout.less";
@import "switch.less";
@import "tweets.less"; 
@import "variables.less";
@import "voices.less";

body, html {
	height: 100%;
	margin: 0px;
}

.invisible {
	display: none;
}
