@import "carousel.less";
@import "citizenuser.less";
@import "footer.less";
@import "impressum.less";
@import "layout.less";
@import "switch.less";
@import "tweets.less"; 
@import "variables.less";
@import "voices.less";

body, html {
	height: 100%;
	margin: 0px;
}

.flag {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 80px;
	z-index: 1;
}

.feedback-list {
	color: rgba(0,0,0,1); // font is not opaque
	opacity: 0.7;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 400px;
	z-index: 2;

	.entry {
		border-radius: 10px;
		border: 1px solid gray;
		display: flex;
		font-size: 20px;
		height: 80px;
		padding: 10px;
    	align-items: center; 
	}
	.positive {
		background-color: green;
	}
	.negative {
		background-color: orange;
	}
}

.invisible {
	display: none;
}

.blur-image {
	-moz-filter: blur(5px);
	-webkit-filter: blur(5px);
 	-ms-filter: blur(5px);
 	-o-filter: blur(5px);
 	filter: blur(5px);
}

.anti-blur-image {
	-moz-filter: blur(0px);
	-webkit-filter: blur(0px);
 	-ms-filter: blur(0px);
 	-o-filter: blur(0px);
 	filter: blur(0px);
}

.hover-element {
	cursor: pointer;
}

.flex-alignment-helper-vertical {
	height: 100%;
}

.flex-alignment-helper-end {
	align-self: flex-end;
}

.clickable-text {
	&:hover {
		cursor: pointer;
	}
}

.vertical-line {
	border-left: 1px solid @admin-page-border-color;
}

.error-message {
    background-color: rgba(255,0,0,0.4);
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    font-size: 20px;
    left: 20px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 400px;
}