
@tweet-width: 340px;
@tweet-height: 210px;
@tweet-top-height: 60px;
@tweet-content-height: @tweet-height - 2 * @tweet-padding - @tweet-top-height - @tweet-footer-height;
@tweet-footer-height: 20px;
@tweet-padding: 15px;

.tweet-list {

	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	height: 100%;
	justify-content: center;
	padding: 0% 7% 10% 7%;
	width: 100%;

	& .entry {

		height: 40px + @tweet-height;
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 20px;

		& .retweet {

				height: 40px;
				padding-right: 20px;
				width: 100%;

			& > img {

				float: right;
				height: 100%;
				margin-top: 8px;

			}
		}

		& .tweet {

			background-color: @default_tweet_background_color;
			border-radius: 8px;
			border: 2px solid @default_tweet_border_color;
			height: @tweet-height;
			padding: @tweet-padding;
			width: @tweet-width;

			& .top {

				align-content: center;
				align-items: center;
				display: flex;
				height: @tweet-top-height;
				justify-content: center;

				& .author-img {

					height: 56px;
					width: 56px;

					& > img {

						border-radius: 2px;
						border-style: solid;
						border-width: 3px;
						height: 100%;
						width: 100%;

					}
				}

				& .author-info {

					flex-grow: 1;
					padding-left: 10px;

					& .name {

						font-size: 17px;
						width: 100%;

					}
					& .twitter-name {

						color: @tweet-id-color;
						font-size: 10px;
						margin-top: -3px;

					}
					& .party {/* intentionally left blank */}
				}
				& .replay {

					text-align: center;
					width: 50px;

					& .speaker {

						color: @tweet-speaker-default-color;

						&-active {
							color: @tweet-speaker-active-color;
						}	
					}
				}

			}
			& .content {

				border-color: @secondary-text-color;
				height: @tweet-content-height;
				word-wrap: break-word;

			}
			& .footer {

				color: @secondary-text-color;
				font-size: 12px;
				height: @tweet-footer-height;

				& .time-stamp {
					float: left;
				}

				& .bird {
					float: right;
				}

			}
		}

	}
}
