[submodule ".heavy"]
	path = .heavy
	url = https://github.com/BenWiederhake/hot_heavy.git
[submodule ".secrets"]
	path = .secrets
	url = ssh://gitolite3@wiederhake.privatedns.org:1374/hot_secrets.git
[submodule "tools/PhotoMiner/cache"]
	path = tools/PhotoMiner/cache
	url = ssh://gitolite3@wiederhake.privatedns.org:1374/hot_crawl_cache.git
